ca_exp_iz/
CA_Test_Results/
CA_help/
CA_exe/
CA/for_redistribution_files_only/readme.txt
CA/for_redistribution_files_only/default_icon.ico
CA/for_testing/mccExcludedFiles.log
CA/for_redistribution_files_only/CA_complex_mappings.exe
CA/for_redistribution/
CA/for_redistribution_files_only/
CA/for_testing/
CellularAutomata.m
exe_descr.txt
Julia_not_full.m
logo.jpg
sourceHex.txt
sourceHex.xlsx
sourceSquare.txt
sourceSquare.xlsx
.vscode/settings.json
CA/PackagingLog.html
legacy/
ResForArticle.txt
exe/
theoretical/
ComplexMappingsResearcher.prj
replay_pid18940.log
replay_pid2372.log
replay_pid9320.log
